@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Scrollbar styles */
	* {
		scrollbar-width: thin;
		scrollbar-color: theme("colors.primary.300") theme("colors.background.100");
	}

	::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-track-piece {
		background-color: theme("colors.background.100");
		border: 3px solid transparent;
		border-radius: 24px;
		margin: 4px;
	}

	::-webkit-scrollbar-thumb {
		background-color: theme("colors.primary.300");
		border: 3px solid transparent;
		border-radius: 24px;
		background-clip: content-box;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: theme("colors.primary.200");
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: theme("colors.primary.200");
	}
}

@layer utilities {
	/* Your other utility classes */
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	overflow-x: hidden;
	width: 100%;
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

.logo,
.earth,
.earth-glow {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.space {
	opacity: 0;
	transition: opacity 0.6s ease-out;
}

.fade-in {
	opacity: 1;
	transform: translateY(0);
}

.logo {
	width: 90%;
	max-width: 500px;
	position: relative;
	z-index: 10;
}

.earth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
}

.earth {
	position: absolute;
	bottom: 0;
	z-index: 11;
}

.earth-glow {
	position: absolute;
	bottom: -150px;
	z-index: 11;
	width: 90%;
}

@media screen and (min-width: 768px) {
	.earth {
		width: 60%;
	}
}

@media screen and (min-width: 1024px) {
	.earth {
		width: 50%;
	}
}

@media screen and (min-width: 1440px) {
	.earth {
		max-width: 40%;
	}
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.lexical p {
  @apply block text-lg font-normal leading-7 text-inherit mb-4;
}
